name: CI
env:
  DEBUG: napi:*
  APP_NAME: cli-bindings
  PACKAGE_NAME: '@craby/cli-bindings'
  PACKAGE_PATH: packages/cli-bindings
  MACOSX_DEPLOYMENT_TARGET: '10.13'

permissions:
  contents: write
  id-token: write

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - LICENSE
      - '**/*.gitignore'
      - .editorconfig
      - docs/**
  pull_request: null

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, 'skip ci') }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            build: |
              RUST_TARGET=x86_64-apple-darwin yarn workspace @craby/cli-bindings build

          - host: windows-latest
            build: |
              RUST_TARGET=x86_64-pc-windows-msvc yarn workspace @craby/cli-bindings build
            target: x86_64-pc-windows-msvc

          - host: windows-latest
            build: |
              RUST_TARGET=i686-pc-windows-msvc yarn workspace @craby/cli-bindings build
            target: i686-pc-windows-msvc

          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: |
              RUST_TARGET=x86_64-unknown-linux-gnu NAPI_FLAGS="--use-napi-cross" yarn workspace @craby/cli-bindings build

          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
            build: RUST_TARGET=x86_64-unknown-linux-musl NAPI_FLAGS="--cross-compile" yarn workspace @craby/cli-bindings build

          - host: macos-latest
            target: aarch64-apple-darwin
            build: |
              RUST_TARGET=aarch64-apple-darwin yarn workspace @craby/cli-bindings build

          - host: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build: |
              RUST_TARGET=aarch64-unknown-linux-gnu NAPI_FLAGS="--use-napi-cross" yarn workspace @craby/cli-bindings build

          - host: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            build: |
              RUST_TARGET=armv7-unknown-linux-gnueabihf NAPI_FLAGS="--use-napi-cross" yarn workspace @craby/cli-bindings build

          - host: ubuntu-latest
            target: aarch64-unknown-linux-musl
            build: |
              RUST_TARGET=aarch64-unknown-linux-musl NAPI_FLAGS="--cross-compile" yarn workspace @craby/cli-bindings build

          - host: windows-latest
            target: aarch64-pc-windows-msvc
            build: |
              RUST_TARGET=aarch64-pc-windows-msvc yarn workspace @craby/cli-bindings build

    name: stable - ${{ matrix.settings.target }} - node@22
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        if: ${{ !matrix.settings.docker }}
        with:
          node-version: 22
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly-2025-08-04
          targets: ${{ matrix.settings.target }}
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            .cargo-cache
            target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - uses: goto-bus-stop/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.14.1
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Setup toolchain
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash
      - name: Enable Corepack
        run: corepack enable
      - name: Restore Yarn cache
        uses: actions/cache@v4
        with:
          path: ~/.yarn/berry/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn workspaces focus ${{ env.PACKAGE_NAME }}
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: ${{ env.PACKAGE_PATH }}/napi/${{ env.APP_NAME }}.*.node
          if-no-files-found: error

  test-macOS-windows-binding:
    name: Test bindings on ${{ matrix.settings.target }} - node@${{ matrix.node }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
          - host: windows-latest
            target: x86_64-pc-windows-msvc
        node:
          - '22'
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          architecture: x64
      - name: Enable Corepack
        run: corepack enable
      - name: Restore Yarn cache
        uses: actions/cache@v4
        with:
          path: ~/.yarn/berry/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn workspaces focus ${{ env.PACKAGE_NAME }}
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: bindings-${{ matrix.settings.target }}
          path: ${{ env.PACKAGE_PATH }}/napi
      - name: List packages
        run: ls -R ${{ env.PACKAGE_PATH }}
        shell: bash
      - name: Test bindings
        run: yarn workspace ${{ env.PACKAGE_NAME }} test

  test-linux-binding:
    name: Test ${{ matrix.target }} - node@${{ matrix.node }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
        node:
          - '22'
    runs-on: ${{ contains(matrix.target, 'aarch64') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Enable Corepack
        run: corepack enable
      - name: Output docker params
        id: docker
        run: |
          node -e "
            if ('${{ matrix.target }}'.startsWith('aarch64')) {
              console.log('PLATFORM=linux/arm64')
            } else if ('${{ matrix.target }}'.startsWith('armv7')) {
              console.log('PLATFORM=linux/arm/v7')
            } else {
              console.log('PLATFORM=linux/amd64')
            }
          " >> $GITHUB_OUTPUT
          node -e "
            if ('${{ matrix.target }}'.endsWith('-musl')) {
              console.log('IMAGE=node:${{ matrix.node }}-alpine')
            } else {
              console.log('IMAGE=node:${{ matrix.node }}-slim')
            }
          " >> $GITHUB_OUTPUT
      - name: Restore Yarn cache
        uses: actions/cache@v4
        with:
          path: ~/.yarn/berry/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn workspaces focus ${{ env.PACKAGE_NAME }}
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: bindings-${{ matrix.target }}
          path: ${{ env.PACKAGE_PATH }}/napi
      - name: List packages
        run: ls -R ${{ env.PACKAGE_PATH }}
        shell: bash
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: ${{ contains(matrix.target, 'armv7') }}
        with:
          platforms: all
      - run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        if: ${{ contains(matrix.target, 'armv7') }}
      - name: Test bindings
        uses: addnab/docker-run-action@v3
        with:
          image: ${{ steps.docker.outputs.IMAGE }}
          options: -v ${{ github.workspace }}:${{ github.workspace }} -w ${{ github.workspace }} --platform ${{ steps.docker.outputs.PLATFORM }}
          run: sh -c "corepack enable && yarn workspace ${{ env.PACKAGE_NAME }} test"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint (JS)
        run: yarn lint:all
      - name: Lint (Rust)
        run: cargo fmt --check

  build-and-typecheck:
    name: Build and Typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn workspaces foreach --all --topological-dev --exclude template run build
      - name: Typecheck
        run: yarn workspaces foreach --all --topological-dev --exclude template run typecheck

  publish-packages:
    name: Publish packages
    runs-on: ubuntu-latest
    needs:
      - lint
      - build-and-typecheck
      - test-macOS-windows-binding
      - test-linux-binding
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn install --immutable
      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: ${{ env.PACKAGE_PATH }}/napi
      - name: Move artifacts
        run: yarn workspace ${{ env.PACKAGE_NAME }} artifacts
      - name: List packages
        run: ls -R ${{ env.PACKAGE_PATH }}/npm
        shell: bash
      - name: Publish packages
        run: cargo xtask publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
